@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}


/* Left part style */
.left {
    width: 25vw;
    padding: 10px;
}

/* .home {
    
} */

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img{
    width: 30px;
}

.bg-black {
    background-color: black;
    color: white;
}

.library{
    min-height: 80vh;
    position: relative;
}


.footer{
    display: flex;
    font-size: 9px;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: grey;
}









/* Right part style */
.right {
    width: 75vw;
    margin: 16px 0;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > *{
    padding-top: 10px;
}

.play{
    position: absolute;
    top: 145px;
    right: 10px;
    opacity: 0;
    transition: all 1s ease-out;
}

.card img{
    width: 100%;
    object-fit: contain;
}