@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}


/* Left part style */
.left {
    width: 25vw;
    padding: 10px;
}

/* .home {
    
} */

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img{
    width: 30px;
}

.bg-black {
    background-color: black;
    color: white;
}

.library{
    min-height: 80vh;
    position: relative;
}


.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: grey;
}





/* Right part style */
.right {
    width: 75vw;
}