.border{
    border: 2px solid teal;
    margin: 3px;
}

.flex{
    display: flex;
}

.align-item{
    align-items: center;
}

.justify-content{
    justify-content: center;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

/* HARD remove arrows / buttons */
::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button {
  display: none;
}

