*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.MainSection{
    width: 100%;
    height: 100%;
    background-color: rgb(152, 62, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainSection .heading{
    width: 70%;
    height: 10%;
    background-color: white;
    padding: 0 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .heading h2{
    color: white;
    font-size: 1.5rem;
} */

/* .heading p{
    color: white;
    font-size: 1.1rem;
} */

.heading button{
    padding: 8px 12px;
    background: linear-gradient(to right, #6350f3, #3628f3);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
}



.MainSection .MainContainer{
    width: 70%;
    height: 70%;
    background-color: white;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.MainContainer .left{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 166, 166);
    border-radius: 8px;
    border-bottom-left-radius: 8px;
}

.left h3{
    color: rgb(0, 39, 166);
    font-size: 1.2rem;
    padding: 10px;
}

.left .summary{
    width: 96%;
    height: 25%;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.summary .totalBalance{
    width: 30%;
    height: 80%;
    background-color: rgb(166, 255, 166);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary .totalIncome{
    width: 30%;
    height: 80%;
    background-color: rgb(166, 255, 166);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary .totalExpense{
    width: 30%;
    height: 80%;
    background-color: rgb(166, 255, 166);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary .summaryItem{
    color: rgb(38, 38, 38);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.summary .totalBalance h3{
    color: rgb(0, 39, 166);
}
.summary .totalIncome h3{
    color: rgb(0, 166, 3);
}
.summary .totalExpense h3{
    color: rgb(166, 0, 0);
}

/* How to make pichart using html and css */








.MainContainer .right{
    width: 50%;
    height: 100%;
    background-color: rgb(166, 255, 166);
    border-radius: 8px;
    border-bottom-right-radius: 8px;
}
