* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.MainSection {
    width: 100%;
    height: 100%;
    background-color: rgb(152, 62, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainSection .heading {
    width: 70%;
    height: 10%;
    background-color: white;
    padding: 0 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .heading h2{
    color: white;
    font-size: 1.5rem;
} */

/* .heading p{
    color: white;
    font-size: 1.1rem;
} */

.heading button {
    padding: 8px 12px;
    background: linear-gradient(to right, #6350f3, #3628f3);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
}



.MainSection .MainContainer {
    width: 70%;
    height: 70%;
    /* background-color: white; */
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.MainContainer .left {
    width: 50%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
    border-bottom-left-radius: 8px;
}

.left h3 {
    color: rgb(0, 39, 166);
    font-size: 1.2rem;
    padding: 10px;
}

.left .summary {
    width: 96%;
    height: 25%;
    /* background-color: rgb(255, 255, 255); */
    margin: 10px auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.summary .totalBalance {
    width: 30%;
    height: 80%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary .totalIncome {
    width: 30%;
    height: 80%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary .totalExpense {
    width: 30%;
    height: 80%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary .summaryItem {
    color: rgb(38, 38, 38);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.summary .totalBalance h3 {
    color: rgb(0, 39, 166);
}

.summary .totalIncome h3 {
    color: rgb(0, 166, 3);
}

.summary .totalExpense h3 {
    color: rgb(166, 0, 0);
}



.chartContainer {
    width: 96%;
    height: 60%;
    background-color: rgb(243, 243, 243);
    margin: 10px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartContainer .piChart {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: conic-gradient(pink 70deg,
            lightblue 0 235deg,
            orange 0);
}

.chartContainer .stats {
    width: 100%;
    height: 30%;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.chartContainer .stats .balanceStat::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: rgb(0, 39, 166);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.chartContainer .stats .incomeStat::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: rgb(0, 166, 3);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.chartContainer .stats .expenseStat::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: rgb(166, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}












.MainContainer .right {
    width: 50%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
}

.right h3 {
    color: rgb(0, 39, 166);
    font-size: 1.2rem;
    padding: 10px;
}

.right .form {
    width: 90%;
    height: 88%;
    background-color: rgb(243, 243, 243);
    margin: 10px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form .transactionTitle {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.form .transactionTitle label {
    font-size: 1.1rem;
}

.form .transactionTitle input {
    width: 100%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 1.1rem;
}



.form .transactionAmount {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.form .transactionAmount label {
    font-size: 1.1rem;
}

.form .transactionAmount input {
    width: 100%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 1.1rem;
}



.form .select {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form .select .income {
    width: 30%;
    height: 100%;
    border: 1px solid lightgray;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
    overflow: hidden;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .select .income img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.form .select .expense {
    width: 30%;
    height: 100%;
    border: 1px solid lightgray;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
    overflow: hidden;
    font-size: 1.1rem;
    cursor: pointer;
}

.form .select .expense img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}


.form .category {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.form .category label {
    font-size: 1.1rem;
}

.form .category select {
    width: 100%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 1.1rem;
}


.form .date {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.form .date label {
    font-size: 1.1rem;
}

.form .date input {
    width: 100%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 1.1rem;
}


.form .addButton {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .addButton button {
    width: 100%;
    padding: 8px 12px;
    background: linear-gradient(to right, #6350f3, #3628f3);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s ease, transform 0.3s ease;
}

.form .addButton button:hover {
    background: linear-gradient(to right, #3628f3, #4a35e9);
    transform: scale(1.02);
}