@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Slabo 27px", serif;
}

body,
html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
}


body {
    background-color: #050505;
    background-image:
        radial-gradient(rgba(179, 179, 179, 0.44) 1px, transparent 1px);
    background-size: 20px 20px;
    background-attachment: fixed;
    position: relative;


}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at 50% 20%, rgba(255, 255, 255, 0.06), transparent 60%);
    pointer-events: none;
}


:root {
    /* Color Variables */
    --color-text-primary: #cecece;
    --color-text-secondary: #ff3c00;
    --primary-color: #f0f0f0;
    --secondary-color: #111;
    --accent-color: #ff5722;


    /* Background Color Variables */
    --background-color-first: #d9d9d9;
    --background-color-primary: #111;
    --background-color-secondary: #272727;
    --background-color-light: #fff;

    /* Black glass background */
    --background-color-black-glass: rgba(45, 45, 45, 0.470);

    /* hr color variable */
    --hr-color-primary: #515151;
    --hr-color-secondary: #ff5622d0;

    /* Padding Variables */
    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-large: 20px;
    --padding-xlarge: 30px;
    --padding-2xlarge: 60px;
    --padding-3xlarge: 80px;

    /* Margin Variables */
    --margin-small: 5px;
    --margin-medium: 10px;
    --margin-large: 20px;
    --margin-xlarge: 30px;
    --margin-2xlarge: 60px;
    --margin-3xlarge: 80px;


    /* Border Radius Variables */
    --border-radius-small: 5px;
    --border-radius-medium: 10px;
    --border-radius-large: 15px;
    --border-radius-xlarge: 30px;
    --border-radius-circle: 50%;

    /* Gap Variables */
    --gap-small: 5px;
    --gap-medium: 10px;
    --gap-large: 15px;
    --gap-xlarge: 20px;
    --gap-2xlarge: 30px;
    --gap-3xlarge: 40px;
}


/* Home section */
.landing {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


/* navbar */
.navbar {
    width: 85%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--background-color-first);
    margin-top: var(--margin-xlarge);
    box-shadow: 7px 8px 0px 0px var(--accent-color);

    /* border-radius: var(--border-radius-xlarge); */
    /* padding: var(--padding-large) var(--padding-xlarge); */
}

/* .navbar:hover {
transition: box-shadow 0.3s;
} */

.navbar .logo {
    font-size: 1.8em;
    width: 80px;
    height: 75%;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--background-color-primary);
    padding: var(--padding-small) var(--padding-large);
    margin: 0 var(--margin-medium);
    /* border-radius: var(--border-radius-xlarge); */
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: var(--padding-xlarge) var(--padding-medium); */
    /* border-top-left-radius: var(--border-radius-xlarge);
    border-bottom-left-radius: var(--border-radius-xlarge); */
    /* border-radius: var(--border-radius-medium); */
}

/* .navbar .logo:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
} */

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: var(--margin-2xlarge);
    gap: var(--gap-xlarge);
}

.navbar ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.6em;
    font-weight: 600;
    transition: color 0.3s, color 0.3s;

    /* padding: var(--padding-small) var(--padding-medium); */
    /* border-radius: var(--border-radius-small); */
}

.navbar ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-radius: var(--border-radius-small);
    background-color: var(--accent-color);
    transition: width 0.3s;
}

.navbar ul li a:hover::after {
    width: 100%;
}



.main-content {
    height: 90vh;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-3xlarge);
    border-radius: var(--border-radius-xlarge);

    /* background-color: red; */
}

.main-content .info-box {
    height: 60%;
    width: 50%;
    overflow: hidden;
    border-radius: var(--border-radius-xlarge);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    /* background-color: var(--background-color-secondary); */
    /* border-bottom-left-radius: var(--border-radius-xlarge);
    border-top-left-radius: var(--border-radius-xlarge); */
}

.info-box h1 {
    font-size: 4.8em;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: var(--margin-medium);
}

.info-box p {
    font-size: 1.3em;
    color: var(--color-text-primary);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 80%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: var(--margin-medium);
}

.info-box .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-large);
    margin-top: var(--margin-medium);
}

.info-box .contact-icons a {
    border: none;
    outline: none;
    transition: transform 0.3s;
    border-radius: var(--border-radius-small);
}

.info-box .contact-icons a:hover {
    transform: scale(1.09);
}


.main-content .info-box:hover {
    background-color: var(--background-color-black-glass);
    transform: scale(1.04);
}



.main-content .animation-container {
    height: 60%;
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: contrast(1.1) brightness(1.2) grayscale(0);
    background-color: var(--background-color-secondary);
    box-shadow: 11px 8px 0px 0px var(--accent-color);
    cursor: pointer;

    /* transition: transform 0.3s; */
    /* border-radius: var(--border-radius-xlarge); */
}

/* .main-content .animation-container:hover {
    box-shadow: 11px 8px 0px 0px var(--accent-color);
    transition: box-shadow 0.3s;
} */

.animation-container #animation-frame {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.15s linear;
    will-change: transform;
}





/* hr b/w home and about */
hr {
    width: 50%;
    border: none;
    border-top: 3px solid var(--hr-color-primary);
    border-radius: var(--border-radius-xlarge);
    margin: var(--margin-medium) auto;
    transition: all 0.3s ease;
}

hr:hover {
    transform: scale(1.4);
    border-top-color: var(--hr-color-secondary);
}





/* About Section */
.about-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* intro */
.about-intro {
    height: 70%;
    width: 85%;
    color: var(--color-text-secondary);
    padding-top: var(--padding-3xlarge);
    padding-left: var(--padding-2xlarge);
    border-radius: var(--border-radius-xlarge);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;

    /* background-color: var(--background-color-secondary); */
}

.about-section .about-intro:hover {
    transform: scale(1.01);
    background-color: var(--background-color-black-glass);
    transition: background-color 0.3s, transform 0.3s;

}

.about-left {
    width: 50%;
}

.about-left h2 {
    font-size: 3rem;
    margin-bottom: var(--margin-large);
    letter-spacing: 6px;
}

.about-left p {
    font-size: 1.3rem;
    color: var(--primary-color);
    line-height: 1.6;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.about-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xlarge);
}

.about-right span {
    font-size: 1.4rem;
}

.about-right img {
    width: 340px;
    filter: contrast(1.1) brightness(1.2);
    box-shadow: 9px 10px 0px 0px var(--accent-color);
}

/* .about-right img:hover {
    transition: box-shadow 0.3s, filter 0.3s;
} */





/* Skills Section */
.Skills-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Skills-section .container {
    height: 70%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: var(--padding-2xlarge);
    padding-left: var(--padding-2xlarge);
    margin: var(--margin-3xlarge) auto;
    gap: var(--gap-medium);
    border-radius: var(--border-radius-xlarge);
    transition: background-color 0.3s, transform 0.3s;
}

.Skills-section .container:hover {
    transform: scale(1.01);
    background-color: var(--background-color-black-glass);
    transition: background-color 0.3s, transform 0.3s;
}

.Skills-section .container .heading {
    width: 100%;
    height: 10%;
    color: var(--color-text-secondary);
    margin-bottom: var(--margin-xlarge);
    padding-left: var(--padding-medium);
}

.Skills-section .container .heading h2 {
    font-size: 3rem;
    letter-spacing: 6px;
}

.Skills-section .skills {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap-2xlarge);
    padding-right: var(--padding-2xlarge);
    padding-bottom: var(--padding-2xlarge);
}

.skill {
    width: 15%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    background-color: #d9d9d9;
    margin-bottom: var(--margin-xlarge);
    box-shadow: 6px 8px 0px 0px var(--accent-color);
}

.skill img {
    width: 45%;
    height: 60%;
    transition: box-shadow 0.3s;
    cursor: pointer;

    /* object-fit: cover; */
}

.skill img:hover {
    /* box-shadow: 9px 10px 0px 0px var(--accent-color); */
    transform: scale(1.1);
    transition: transform 0.3s;
}







/* Project Section */
.project-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 2px solid orange; */
}


.project-section .project-container {
    width: 85%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--border-radius-xlarge);
    transition: background-color 0.3s, transform 0.3s;
    /* border: 2px solid red; */
}

.project-section .project-container:hover {
    transform: scale(1.01);
    background-color: var(--background-color-black-glass);
    transition: background-color 0.3s, transform 0.3s;
}

.project-section .project-container .heading {
    width: 100%;
    height: 15%;
    color: var(--color-text-secondary);
    margin-top: var(--margin-2xlarge);
    /* padding: var(--margin-2xlarge); */
    padding-left: var(--padding-xlarge);
    /* border: 2px solid green; */
}

.project-section .project-container .heading h2 {
    font-size: 3rem;
    letter-spacing: 6px;
    margin-left: var(--margin-large);
}

.project-section .project-container .projects {
    width: 100%;
    height: 90%;
    overflow: hidden;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    margin-top: var(--margin-medium);
    /* gap: var(--gap-2xlarge); */
    /* border: 2px solid yellow; */
}

.project-section .project-container .projects .project-left {
    width: 35%;
    height: 75%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 10px 0px 0px var(--accent-color);
    background-color: var(--background-color-first);

    /* border: 2px solid blue; */
}

.project-section .project-container .projects .project-left img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: transform 0.3s;
}

.project-section .project-container .project-right {
    width: 50%;
    height: 75%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-large);
    /* border: 2px solid purple; */
}

.project-section .project-container .project-right h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    /* margin-bottom: var(--margin-medium); */
}

.project-section .project-container .project-right p {
    font-size: 1.2rem;
    color: var(--color-text-primary);
    line-height: 1.5;
    letter-spacing: 2px;
    /* margin-bottom: var(--margin-medium); */
}

.project-section .project-container .project-right a {
    width: 140px;
    height: 40px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    gap: var(--gap-small);
    border-radius: var(--border-radius-small);
    transition: background-color 0.3s, color 0.3s;
}

.project-section .project-container .project-right a:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}






/* Qualification Section */
.qualification-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qualification-section .qualificationContainer {
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--border-radius-xlarge);
    transition: background-color 0.3s, transform 0.3s;
}

.qualification-section .qualificationContainer:hover {
    transform: scale(1.01);
    background-color: var(--background-color-black-glass);
    transition: background-color 0.3s, transform 0.3s;
}

.qualification-section .qualificationContainer .heading {
    width: 100%;
    height: 8%;
    font-size: 1.8rem;
    letter-spacing: 6px;
    margin-left: var(--margin-xlarge);
    margin-bottom: var(--margin-large);
    color: var(--color-text-secondary);
    padding-left: var(--padding-xlarge);
}

.qualification-section .qualificationContainer .qualificationContent {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-2xlarge);
}

.qualification-section .qualificationContainer .qualificationContent .box {
    width: 90%;
    height: 23%;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: var(--gap-large);
    margin-bottom: var(--margin-medium);
    /* background-color: var(--background-color-first); */
    /* box-shadow: 9px 10px 0px 0px var(--accent-color); */
}

#SrSec {
    background-color: rgb(255, 220, 255);
    box-shadow: 9px 10px 0px 0px rgb(255, 255, 214);
    border: 1px solid black;
}

#Graduation {
    background-color: rgb(207, 220, 255);
    box-shadow: 9px 10px 0px 0px rgb(177, 250, 182);
    border: 1px solid black;
}

#PostGraduation {
    background-color: rgb(255, 201, 201);
    box-shadow: 9px 10px 0px 0px rgb(194, 218, 255);
    border: 1px solid black;
}

.qualification-section .qualificationContainer .qualificationContent .box img {
    width: 10%;
    height: 80%;
    /* object-fit: cover; */
    margin-left: var(--margin-large);
}

.qualification-section .qualificationContainer .qualificationContent .box .boxContent {
    width: auto;
    height: 80%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-small);
}

.qualification-section .qualificationContainer .qualificationContent .box .boxContent p {
    color: var(--hr-color-primary);
    line-height: 1.5;
    letter-spacing: 2px;
}







/* Contact Section */
.contact-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-section .contactContainer {
    width: 80%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-large);
    /* background-color: var(--background-color-first); */
    border: 2px solid black;
    background-color: rgb(255, 255, 205);
    box-shadow: 11px 13px 0px 0px rgb(125, 157, 185);
}

.contact-section .contactContainer .heading {
    width: 30%;
    height: 18%;
    font-size: 1.8rem;
    letter-spacing: 6px;
    text-align: center;
    color: var(--background-color-primary);
    background-color: var(--accent-color);
    border-radius: var(--border-radius-xlarge);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section .contactContainer .contact-info {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap-large);
}

.contact-section .contactContainer .contact-info .mail {
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-large);
    transition: transform 0.3s;
}

.contact-section .contactContainer .contact-info .mail:hover {
    transform: scale(1.04);
    transition: transform 0.3s;
}


.contact-section .contactContainer .contact-info .mail a {
    width: auto;
    height: 40px;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color-secondary);
}

.contact-section .contactContainer .contact-info .phone {
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-large);
    transition: transform 0.3s;
}

.contact-section .contactContainer .contact-info .phone:hover {
    transform: scale(1.04);
    transition: transform 0.3s;
}

.contact-section .contactContainer .contact-info .phone img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section .contactContainer .contact-info .phone a {
    width: auto;
    height: 40px;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color-secondary);
    transition: background-color 0.3s, color 0.3s;
}






/* Unique Copyright Section */
.copyright-section {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 2px solid yellow; */
}

.copyright-section p{
    width: 100%;
    height: 45px;
    font-size: 1.2rem;
    text-align: center;
    font-family: sans-serif;
    padding-top: 10px;
    background-color: var(--background-color-secondary);
    color: var(--hr-color-secondary);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}